[submodule "bin/source/icdiff"]
	path = bin/source/icdiff
	url = https://github.com/jeffkaufman/icdiff.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "tag-dev/rbenv"]
	path = tag-dev/rbenv
	url = https://github.com/sstephenson/rbenv.git
