[submodule "bin/source/icdiff"]
	path = bin/source/icdiff
	url = https://github.com/jeffkaufman/icdiff.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tag-dev/asdf"]
	path = tag-dev/asdf
	url = https://github.com/asdf-vm/asdf.git
